@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.aside a {
  text-decoration: none;
}

.aside__user {
  display: flex;
  align-items: center;
  list-style: none;
  color: #555;
  border-radius: 5px;
  cursor: pointer;

  margin-bottom: 1px;

  span:nth-child(1) {
    margin: 0 5px;
    font-size: 0.8rem;
  }
  span:nth-child(2) {
    padding-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    background: rgba(211, 211, 211, 0.4);
  }
}
