@import "../../css/variables.scss";

.main {
  position: relative;
  display: flex;
  max-width: 1047px;
  height: 85vh;
  min-height: 200px;
  margin: 5px auto;
  padding: 0 5px;
}

// RESPONSIVITY

@media (max-width: $responsivity1) {
  .main {
    height: 100vh;
    flex-direction: column;
    margin: 5px;
    padding: 0;
  }
}
