@import "../../../css/mixins.scss";

.section__about {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .logo {
    margin-top: 40px;
    max-height: 40px;
    max-width: 90%;

    img {
      width: 100%;
      max-height: 100%;
    }
  }

  span {
    font-weight: bold;
    font-size: 1.1rem;
    color: #555;
  }

  span,
  p {
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    .icon {
      margin-right: 10px;
    }
    .rotated {
      transform: rotate(90deg);
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    color: #555;
    padding: 0 25px;
    text-indent: 10px;
  }

  .technologies {
    position: relative;
    left: -50%;
    display: flex;
    height: 100px;
    padding: 0;
    align-items: center;
    animation: roll 20s infinite linear;

    .technology {
      display: flex;
      flex-shrink: 0;
      height: 50px;
      margin: 0 25px;
    }
  }
  .img-wrapper {
    @include flexCenter;
    background: blue;
    border-radius: 50%;
    position: relative;
    padding: 5px;
    overflow: hidden;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 50px;

    .spinning-background {
      position: relative;
      left: -50%;
      top: -50%;
      height: 300%;
      width: 300%;
      border-radius: 50%;
      background: linear-gradient(orange, purple, dodgerblue);
      position: absolute;
      animation: spin 2s infinite linear;
    }

    .gif {
      position: relative;
      border-radius: 50%;
      max-height: 100%;
      border: 5px solid white;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes roll {
  to {
    transform: translateX(50%);
  }
}
