@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.side-menu {
  @include flexCenter;
  @include boxStyle;
  top: 0;
  height: fit-content;
  width: 42px;
  background: $second-color;
  border-radius: $border-radius;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      height: 22px;
      width: 22px;
      margin: 10px;

      &:hover {
        filter: opacity(0.8);
      }
      &:active {
        filter: opacity(1);
      }

      a {
        color: $first-color;
        font-size: 22px;
      }
    }
  }
}
