@import "../../../css/variables.scss";

.section__profile {
  position: relative;
  padding: 25px;

  .title {
    color: #333;
    font-weight: bold;
  }

  .box {
    background-color: rgba(211, 211, 211, 0.4);

    margin: 5px 0 15px;
    padding: 10px;
    border-radius: $border-radius;

    p {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
      color: #555;

      span {
        color: #333;
        font-size: 1rem;
        margin: 0 8px;
      }

      span:last-child {
        margin-left: 0;
      }

      .almost-invisible {
        filter: opacity(0.25);
      }
    }
  }
}
