@import "./variables.scss";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $third-color;
  height: 100vh;
}
