// ************************* COLORS

$first-color: #0d2759;
$second-color: white;
$third-color: #f1f1f1;

// links
$link-color: #fff;

// buttons
$signin-btn: rgb(0, 220, 0);
$signup-btn: transparent;
$signout-btn: rgb(220, 0, 0);

//others
$border-color: #c2c9d5;

// ************************* OTHERS

$border-radius: 5px;
