@import "../../css/mixins.scss";
@import "../../css/variables.scss";

.header__buttons {
  @include flexCenter;
  margin-left: 30px;

  .btn {
    text-decoration: none;
    border: none;
    margin-left: 5px;
    padding: 3px 8px;
    border-radius: $border-radius;
    color: $second-color;
    text-shadow: 1px 1px 5px rgb(78, 78, 78);
    white-space: pre;

    cursor: pointer;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .signin {
    background-color: $signin-btn;
  }
  .signup {
    background-color: $signup-btn;
    border: 1px solid $link-color;
  }
  .signout {
    background-color: $signout-btn;
  }
}

// RESPONSIVITY

@media (max-width: $responsivity1) {
  .header .header__buttons {
    display: none;
  }
  .header__buttons {
    .btn.signup {
      background-color: $first-color;
      border: none;
    }
  }
}
