@import "../../css/variables.scss";

.section__chat__message {
  padding: 5px 20px;
  display: flex;

  .author {
    color: $first-color;
    font-weight: bold;
  }
  .message {
    color: #333;
  }
}
