@import "../../../css/variables.scss";
@import "../../../css/mixins.scss";

.section__chat {
  display: flex;
  flex-direction: column;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;

  form {
    @include flexCenter;
    height: 50px;
    width: 100%;
    background: $second-color;
    bottom: 0;
    padding: 10px;
    display: flex;

    input {
      box-shadow: 0 0 3px lightgray;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 100px;
      font-size: 1.1rem;
      border: 1px solid $first-color;
      border-radius: $border-radius;
      height: 35px;
      padding-left: 10px;
    }
    button {
      box-shadow: 0 0 3px lightgray;
      color: $link-color;
      background-color: $first-color;
      margin-left: 10px;
      border-radius: $border-radius;
      height: 35px;
      padding: 0 20px;
    }
  }
}

.section__chat__messages {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  flex-grow: 1;
  padding: 0;
  padding-top: 15px;

  li {
    list-style: none;

    word-break: break-word;
  }
}
